@model List<NewsReadDTO> 
@{
    ViewData["Title"] = "Home Page";
    Dictionary<string, string> keys = new Dictionary<string, string>();
    keys.Add("PD", @"https://upload.wikimedia.org/wikipedia/commons/1/13/LaLiga.svg");
    keys.Add("PL", @"https://upload.wikimedia.org/wikipedia/en/f/f2/Premier_League_Logo.svg");
    keys.Add("BL1", @"https://upload.wikimedia.org/wikipedia/en/d/df/Bundesliga_logo_%282017%29.svg");
    keys.Add("CL", @"https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/UEFA_Champions_League_logo.svg/2560px-UEFA_Champions_League_logo.svg.png");
    keys.Add("FL1", @"https://upload.wikimedia.org/wikipedia/en/b/ba/Ligue_1_Uber_Eats.svg");
}

<div class="text-center">
    <h4 class="display-4">Sprawdz wyniki:</h4>
    <div class="text-center">
            @foreach (var pair in keys)
            {
                <a asp-action="Standings" asp-controller="Home" asp-route-competition="@pair.Key" class="mr-3"><img src="@pair.Value" style="width:100px" class="hover-eff" /></a>
            }
        <hr />
    </div>
    <div>
        <h4 class="display-4">Sprawdz newsy:</h4>
        @if (Model.Any())
        {
            @foreach(var news in Model)
            {
        <div style="width:300px">
            <div class="card row bg-dark text-light">
                <div class="card-header">
                    @news.Title
                </div>
                <div class="card-body">
                    <div class="col-sm-2"></div>
                    <img class="col-sm-8" src="@news.PhotoUrl.First()" alt="Photo" />
                    <div class="col-sm-2"></div>

                </div>
                <div class="card-footer">
                    <a asp-action="Details" asp-controller="News" asp-route-id="@news.Id" class="btn btn-warning">Read more</a>
                </div>
            </div>
        </div>
            }
        }
        else
        {
            <div class="text-danger">Brak newsow na ten moment</div>
        }
    </div>
</div>
