@model NewsReadDTO
@{
    ViewData["Title"] = "News";
}
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalRLogic.js"></script>

<div>
    <img class="img-fluid" src="@Model.PhotoUrl.First()" style="max-width:500px" alt="Main Photo" />
</div>
<hr />
<h3 class="display-3">@Model.Title</h3>
<div>
    @Model.Description
</div>

<div>
    <h4 class="display-4">Galeria:</h4>
    @foreach (var photo in Model.PhotoUrl)
    {
        <img src="@photo" alt="Another Photo" style="width:200px" class="m-2" />
    }
</div>
<h4 class="display-4">Akcje:</h4>
<div>
    <button class="btn btn-dark" onclick="LikePost('@Model.Id')">Polub<span class="badge badge-light">@Model.Likes.Count()</span></button>
</div>
<h4 class="display-4">Komentarze:</h4>
<div class="bg-dark text-light comm-block">
    <div>
        @if (User.Identity.IsAuthenticated)
        {
        <div class="m-4">
            <input type="text" placeholder="Tekst komentarza" class="form-control comm-box" />
            <button class="btn btn-warning" onclick="AddComment('@Model.Id', '@User.Identity.Name')">Dodaj</button>

        </div>
        }
        else
        {

        }
    </div>
    @if (Model.Comments.Any())
    {
        <div class="comm-div">
            @foreach (var comm in Model.Comments)
            {
                <div class="card text-dark mt-3 m-2">
                    <div class="card-header">
                        @comm.From
                    </div>
                    <div class="card-body">
                        @comm.Comment
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-danger">Nie ma komentarzy do tego posta</div>
    }
</div>

<br />
<hr />
<br />

